<div class="container">
  <div class="row">

    <div class="column">
      <div id="posts_div">
        <div id="div1"></div>
        <% @posts.each do |message| %>
          <%= render partial: "message", locals: {message: message} %>
        <%end%>
      </div>
    </div>

    <div class="column">
      <div id="title">THE TCHATBOX</div>

      <div class="message-container">
        <textarea id="message-area" placeholder="Votre message"></textarea>
      </div>

        <%#=render partial: "conventional_form" %>

        <%=render partial: "purge_button" %>

        <div>
          <%= link_to "DECONNEXION", sessions_delete_path %>
        </div>

        <div id="user-list">
          <div>
            <b>CONNECTED USERS</b>
          </div>
          <ul id="connected-users">
            <%#=render "sessions/index" %>
          </ul>
        </div>

      </div>

    </div>
  </div>
