// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import "milligram";

#title {
  font-family: 'Anton', sans-serif;
  font-size: 90px;
  //right: 100px;
  //position: absolute;
  color: #9b4dca;
}

#posts_div {
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 10px;
  width: 500px;
  height: 650px;
  border: 10px solid black;
  border-radius: 20px;
  font-family: 'Fjalla One', sans-serif;
  color: #9b4dca;
}

.container {
  // position: absolute;
  //  top: 50%;
  //  -ms-transform: translateY(-50%);
  //  transform: translateY(-50%);
  //  left: 50%;
  //  -ms-transform: translateX(-50%);
  //  transform: translateX(-50%);
}

#purge-button, #logout_button {
  line-height: 0.9;
  /* comportement visuel de cellule */
  vertical-align: middle;
  display: inline-block;
  padding: 20px;
  font-family: 'Anton', sans-serif;

  font-size: 50px;
  font-weight: bold;
  margin-top: 15px;
  height: 100px;
  //background-color:  #9b4dca;
  border: 10px solid black;
  border-radius: 20px;
  width: auto;
}

// .message-container {
//   padding: 10px;
//   width: 510px;
//   border: 10px solid black;
//   border-radius: 20px;
//   font-family: 'Fjalla One', sans-serif;
//   //position: absolute;
//   //right: 100px;
//   //top: 200px;
// }


#message-area {
  padding: 10px;
  width: 510px;
  height: 125px;
  border: 10px solid black;
  border-radius: 20px;
  font-family: 'Fjalla One', sans-serif;
  //position: absolute;
  //right: 100px;
  //top: 200px;
}

.span-color {
  color: black;
}

.inner-btn {
  height: 40px;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  border: 5px solid black;
  border-radius: 10px;
}

.text-message {
  width: 99%;
  height: 50px;
}

#user-list{
  font-family: 'Fjalla One', sans-serif;
  color: #9b4dca;
  max-height: 100%;
  border: 10px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-top: 15px;
}

.connected-user {
  font-family: 'Anton', sans-serif;

  color: black;
}
